Dharkael/
QtProject.conf
dconf/
enchant/
evolution/
fontforge/
gedit/
gnome-initial-setup-done
gtk-3.0/
i3blocks/
ibus/
nautilus/
neofetch/
pulse/
ranger/
rofi/
user-dirs.dirs
user-dirs.locale
xfce4/

